.listing-select:focus{
    outline: rgb(137, 101, 211);
}
.listing-select{
    background: #121212;
    border-radius: 10px;
    font-size: 15px;
    font-style: inherit;
    padding: 4px;
    color: inherit;
}