.css-zoser8 {
    padding-top: 8px;
}
.css-q5daxs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgb(30, 30, 40);
}
.css-1week56 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 190px;
}
.css-mrxdtu {
    display: flex;
    flex-direction: column;
    width: 50px;
}
.css-ydkif2 {
    display: flex;
    flex-direction: column;
    width: 100px;
}
.css-1vbae4g {
    margin: 0px;
    color: rgb(137, 101, 211);
    text-decoration: underline rgba(137, 101, 211, 0.4);
    line-height: 12px;
}
.css-6jpeea {
    margin: 0px;
    color: rgb(137, 101, 211);
    text-decoration: underline rgba(137, 101, 211, 0.4);
    padding-left: 8px;
    line-height: 12px;
}
.MuiTypography-root {
    &.css-h10dot {
        margin: 0px;
        font-weight: 400;
        line-height: 27px;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        width: 130px;
    }
    &.css-1dqdia6 {
        margin: 0px;
        line-height: 27px;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    &.css-c6i5lh {
        margin: 0px;
        font-weight: 400;
        line-height: 27px;
        font-family: Montserrat, sans-serif;
        color: rgb(134, 134, 160);
        font-size: 11px;
    }
    &.css-1la04yn {
        margin: 0px;
        line-height: 27px;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        text-align: right;
        font-weight: 500;
    }
}
.MuiLinearProgress-root {
    &.css-3ruqx5 {
        // position: relative;
        // overflow: hidden;
        // display: block;
        // height: 4px;
        // z-index: 0;
        // background-color: rgb(68, 50, 105);
        // color:rgb(137, 101, 211);
    }

}