$backgroundColor: rgb(24, 15, 61);
$appBarHeaderBoxShadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
$appBarFooterBoxShadow:rgb(0 0 0 / 20%) 0px -5px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 80px 1px 10px 1px;
$cardBackgroundColor:rgb(19 18 26);
$cardBoxShadow:rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
$cardHoverColor: rgb(51, 42, 89);
$chartLineColor: rgb(62, 228, 21);
$chartDotColor: rgb(3, 214, 145, 0.5);
$buttonBackground: rgb(90, 78, 147);
$buttonHoverBackground:rgb(46, 37, 100);
$buttonColor: #fff;
$buttonBorder:1px solid rgb(90, 78, 147, 0.5);
$buttonHoverBorder: 1px solid rgb(46, 37, 100, 0.5);
$tableHeaderColor:#180f3d;
$tableBodyRowColor:rgb(5 5 6);
$bodyBackground:#0a0522;