.css-8ndowl {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
.MuiPaper-root {
    &.css-1ro9fl1 {
        background-color: rgb(30, 30, 40);
        color: rgb(255, 255, 255);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 8px;
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07));
        margin-bottom: 8px;
    }
    &.css-1csa03x {
        background-color: rgb(30, 30, 40);
        color: rgb(255, 255, 255);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 8px;
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07));
    }
}
.MuiTypography-root {
    &.css-1k3est7 {
        margin: 0px 0px 8px;
        font-size: 22px;
        font-weight: 400;
        font-family: Montserrat, sans-serif;
        line-height: 1.334;
    }
    &.css-1dz37nv {
        margin: 0px;
        font-size: 13px;
        font-weight: 600;
        font-family: Montserrat, sans-serif;
        line-height: 2.66;
        text-transform: uppercase;
    }
    &.css-9jicix {
        margin: 0px 16px;
        font-size: 13px;
        font-weight: 600;
        font-family: Montserrat, sans-serif;
        line-height: 2.66;
        text-transform: uppercase;
    }
    &.css-iabhyu {
        margin: 0px 8px 0px 0px;
        font-size: 13px;
        font-weight: 600;
        font-family: Montserrat, sans-serif;
        line-height: 2.66;
        text-transform: uppercase;
    }
}
.MuiButton-root {
    &.css-1ocwypl {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        padding: 5px 15px;
        border-radius: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border: 1px solid rgba(255, 0, 17, 0.5);
        color: rgb(255, 0, 17);
        font-weight: 600;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    &.css-fel3qj {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0px;
        margin: 0px 0px 0px 8px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        padding: 5px 15px;
        border-radius: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border: 1px solid rgba(137, 101, 211, 0.5);
        color: rgb(137, 101, 211);
        font-weight: 600;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    &.css-1clr4rj {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px 0px 0px 8px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        min-width: 64px;
        padding: 6px 16px;
        border-radius: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        color: rgb(255, 255, 255);
        background-color: rgb(137, 101, 211);
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
        font-weight: 600;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
}
.MuiCheckbox-root {
    &.css-x4wcd9.Mui-checked, &.css-x4wcd9.MuiCheckbox-indeterminate {
        color: rgb(137, 101, 211);
    }
    &.css-x4wcd9:hover {
        background-color: rgba(137, 101, 211, 0.08);
    }
    &.css-x4wcd9 {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        padding: 9px;
        border-radius: 50%;
        color: rgb(134, 134, 160);
    }
}
.css-2meek2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: rgb(30, 30, 40);
    box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
    padding: 24px;
}
.css-j7qwjs {
    display: flex;
    flex-direction: column;
}
.css-jj7qqp {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1m9fqvd {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
}
.css-s6jlyw {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    cursor: pointer;
}
.css-hpgf8j {
    padding: 8px;
}
@media (min-width: 0px) {
    .css-1nnw2ij {
        flex-direction: column;
    }
}
@media (min-width: 600px) {
    .css-1nnw2ij {
        flex-direction: row;
    }
}
.css-1nnw2ij {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
@media (min-width: 600px) {
    .css-1dz37nv {
        width: 150px;
    }
}
.css-k008qs {
    display: flex;
}
.css-1iwhrk2 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-left: 8px;
    padding-right: 8px;
}
.css-irtagd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid rgb(137, 101, 211);
    cursor: pointer;
}
@media (min-width: 0px) {
    .css-pxz4hp {
        flex-direction: column;
    }
}
@media (min-width: 600px) {
    .css-pxz4hp {
        flex-direction: row;
    }
}
.css-pxz4hp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 8px;
}
.css-1g1z99s {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 24px;
}
.css-10snf7b {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
}
@media (min-width: 0px) {
    .css-1e00h5i {
        width: 280px;
    }
}
@media (min-width: 600px) {
    .css-1e00h5i {
        width: 380px;
    }
}
.MuiInputBase-root {
    &.css-1e00h5i {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4375em;
        font-family: Montserrat, sans-serif;
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        position: relative;
        cursor: text;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        max-width: 100%;
    }
}